@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

html {
  overflow: hidden;
}

html body {
  width: 100vw;
  height: 100vh;
  background-color: #fafafa;
  position: relative;
  z-index: -2;
  overflow: hidden;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans', 'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic';
}

html body .header {
  width: 100vw;
  height: 50px;
  border-bottom: #00d9ff solid 1.5px;
  background: -webkit-gradient(linear, left bottom, right top, from(#dfffff), to(#fbffff));
  background: linear-gradient(to top right, #dfffff, #fbffff);
  position: fixed;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 0px;
}

html body .header .name {
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 1.25em;
  margin-left: 10px;
  position: relative;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

html body .header .name:hover {
  color: red;
  cursor: default;
}

html body .header .name::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 400px;
  background-color: black;
  bottom: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#ff6f6f), to(rgba(255, 148, 148, 0.432)));
  background: linear-gradient(to right, #ff6f6f, rgba(255, 148, 148, 0.432));
}

html body .header .menu_button {
  position: absolute;
  width: 80px;
  height: 35px;
  background-color: #82ddb2;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50px;
  line-height: 35px;
  text-align: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

html body .header .menu_button:hover {
  background-color: #57a380;
  color: white;
  cursor: pointer;
}

html body .header .header_button {
  position: absolute;
  top: 51.5px;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: #494949;
  opacity: 50%;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

html body .header .header_button:hover {
  height: 80px;
  opacity: 1;
  cursor: pointer;
  background-color: #d4d4d4;
}

html body .header .header_button::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-top: solid white 1px;
  border-left: solid white 1px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

html body .header .header_button:hover::before {
  border-top: solid black 1px;
  border-left: solid black 1px;
}

html body .header .header_button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 0px;
  background-color: white;
  opacity: 0;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

html body .header .header_button:hover:after {
  opacity: 1;
  height: 60px;
  background-color: black;
}

html body .black {
  position: absolute;
  width: 0;
  height: 0;
  background-color: black;
  z-index: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0;
}

html body .menu {
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: background-color 0.5s, opacity 0.5s;
  transition: background-color 0.5s, opacity 0.5s;
}

html body .menu .select {
  display: none;
  position: relative;
  width: 100vw;
  height: 100vh;
}

html body .menu .select .all_clear_menu {
  width: 25vw;
  height: auto;
  min-height: 75px;
  position: absolute;
  background-color: white;
  top: 10px;
  left: calc(-25vw + -10px);
  z-index: 2;
  border-left: solid red 2px;
  background-color: #d6d6d6;
  -webkit-box-shadow: 0px 0px 10px #ff9191;
          box-shadow: 0px 0px 10px #ff9191;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
}

html body .menu .select .all_clear_menu p {
  margin-top: 5px;
  margin-left: 5px;
}

html body .menu .select .all_clear_menu .all_clear_menu_button {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  vertical-align: bottom;
  cursor: pointer;
  margin: 10px;
}

html body .menu .select .all_clear_menu .all_clear_menu_button .all_clear_menu_button_yes {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.158);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .all_clear_menu .all_clear_menu_button .all_clear_menu_button_yes:hover {
  background-color: red;
  cursor: pointer;
}

html body .menu .select .all_clear_menu .all_clear_menu_button .all_clear_menu_button_no {
  display: inline-block;
  width: 100px;
  text-align: center;
  background-color: #d0ffe2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .all_clear_menu .all_clear_menu_button .all_clear_menu_button_no:hover {
  background-color: #5cff9a;
  cursor: pointer;
}

html body .menu .select .all_clear_menu .all_clear_menu_button:hover {
  cursor: default;
}

html body .menu .select .all_clear_menu:hover {
  cursor: default;
}

html body .menu .select .notification {
  width: 25vw;
  height: auto;
  min-height: 75px;
  position: absolute;
  background-color: white;
  top: 10px;
  right: calc(-25vw + -10px);
  z-index: 2;
  border-right: solid #48daff 2px;
  background-color: #d6d6d6;
  -webkit-box-shadow: 0px 0px 10px #ceffff;
          box-shadow: 0px 0px 10px #ceffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow-x: hidden;
}

html body .menu .select .notification p {
  margin-top: 5px;
  margin-left: 5px;
}

html body .menu .select .notification:hover {
  cursor: default;
}

html body .menu .select .change_area {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: calc(90%);
  height: calc(100vh - 80px);
  top: 80px;
}

html body .menu .select .change_area .URL_in {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html body .menu .select .change_area .URL_in .all_clear {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 150px;
  background-color: rgba(255, 0, 0, 0.432);
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
}

html body .menu .select .change_area .URL_in .all_clear:hover {
  background-color: red;
  cursor: pointer;
}

html body .menu .select .change_area .URL_in .URL_in_box {
  display: inline-block;
  border: none;
  width: 50vw;
  vertical-align: middle;
  padding: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 25px;
  background-color: #e0e0e065;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  border-radius: 0;
  font-size: 16px;
}

html body .menu .select .change_area .URL_in .URL_in_box:hover {
  -webkit-box-shadow: 0px 0px 20px #bbf7ff;
          box-shadow: 0px 0px 20px #bbf7ff;
}

html body .menu .select .change_area .URL_in .URL_in_box:focus {
  background-color: #cbe7e9;
  color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html body .menu .select .change_area .URL_in .URL_in_box_button {
  display: inline-block;
  position: relative;
  border: none;
  width: 150px;
  height: 25px;
  vertical-align: middle;
  background-color: #8efbffde;
  color: black;
}

html body .menu .select .change_area .URL_in .URL_in_box_button:hover {
  cursor: pointer;
}

html body .menu .select .change_area .URL_in .URL_in_box_button::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 150px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 0.75px;
  width: 0;
  background-color: rgba(67, 102, 97, 0.836);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .change_area .URL_in .URL_in_box_button:hover::before {
  width: 100%;
  right: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

html body .menu .select .change_area .URL_in .URL_in_box_button::after {
  position: absolute;
  content: '';
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%) rotateZ(45deg);
          transform: translateY(-50%) rotateZ(45deg);
  width: 10px;
  height: 10px;
  border-top: rgba(67, 102, 97, 0.836) solid 1px;
  border-right: rgba(67, 102, 97, 0.836) solid 1px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .change_area .URL_in .URL_in_box_button:hover::after {
  right: 1em;
}

html body .menu .select .change_area .URL_area {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: calc(100% - 40px);
  margin-top: 40px;
  overflow: auto;
}

html body .menu .select .change_area .URL_area .URL_set {
  position: relative;
  width: calc(80%);
  margin-left: 10%;
}

html body .menu .select .change_area .URL_area .URL_set .URL {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  line-height: 40px;
  border-bottom: white solid 1px;
  padding-left: 10px;
  padding-right: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
}

html body .menu .select .change_area .URL_area .URL_set .URL::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(252, 252, 252, 0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .change_area .URL_area .URL_set .URL:hover::before {
  background-color: rgba(252, 252, 252, 0.13);
}

html body .menu .select .change_area .URL_area .URL_set .delete {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: rgba(159, 192, 181, 0.815);
  top: 50%;
  right: 0;
  -webkit-transform: translate(0, -50%) rotateZ(45deg);
          transform: translate(0, -50%) rotateZ(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .change_area .URL_area .URL_set .delete::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 1px;
  height: 25px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .change_area .URL_area .URL_set .delete::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 25px;
  height: 1px;
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .change_area .URL_area .URL_set .delete:hover {
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px #ff9e9e;
          box-shadow: 0px 0px 10px #ff9e9e;
  background-color: rgba(255, 79, 79, 0.685);
}

html body .menu .select .change_area .URL_area .URL_set .delete:hover:before {
  -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
          transform: translate(-50%, -50%) rotateZ(180deg);
}

html body .menu .select .change_area .URL_area .URL_set .delete:hover::after {
  -webkit-transform: translate(-50%, -50%) rotateZ(180deg);
          transform: translate(-50%, -50%) rotateZ(180deg);
}

html body .menu .select .close {
  width: 45px;
  height: 45px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  top: 20px;
  right: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .close:hover {
  cursor: pointer;
  background-color: #84bebc;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 15px lightskyblue;
          box-shadow: 0px 0px 15px lightskyblue;
}

html body .menu .select .close::before {
  content: '';
  width: 1px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(45deg);
          transform: translate(-50%, -50%) rotateZ(45deg);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .close:hover::before {
  -webkit-transform: translate(-50%, -50%) rotateZ(225deg);
          transform: translate(-50%, -50%) rotateZ(225deg);
}

html body .menu .select .close::after {
  content: '';
  width: 1px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotateZ(-45deg);
          transform: translate(-50%, -50%) rotateZ(-45deg);
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .menu .select .close:hover::after {
  -webkit-transform: translate(-50%, -50%) rotateZ(135deg);
          transform: translate(-50%, -50%) rotateZ(135deg);
}

html body .menu .select .license {
  display: inline-block;
  position: absolute;
  color: #b3b3b3;
  right: 10px;
  bottom: 10px;
  opacity: 0.25;
  font-size: 0.9em;
  cursor: default;
}

html body .main {
  background-color: #cfcfcf;
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: -1;
}

html body .main iframe {
  font-size: 0;
  display: inline-block;
  width: auto;
  height: auto;
  vertical-align: middle;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .main .no_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba(168, 168, 168, 0.692);
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  padding-left: 5px;
  padding-right: 5px;
}

html body .main .no_content:hover {
  cursor: default;
}

html body .block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #464646;
  z-index: 3;
  opacity: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body .block .block_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html body .block .block_content p {
  color: white;
}

html body .block .block_content p span {
  color: #b0fcff;
}

html body .block .block_content .block_no {
  margin-top: 10px;
  border: none;
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 20px;
  width: 100px;
  background-color: #caffdb;
  color: black;
}
/*# sourceMappingURL=style.css.map */